<!DOCTYPE html>
<html>
<head>
    <title>The Running Club</title>
    <meta charset="utf-8">
    <meta name="description" content="The Running Club" />
    <meta name="author" content="The Running Club" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />

    <link href="css/screen.css" rel="stylesheet" />
</head>
<body class="home" id="page">
<!-- Header -->
<header class="main-header" style="background-color: rgba(128,128,128,0.5) !important;">
    <div class="container">
        <div class="header-content">
            <a href="{{ url_for('home') }}">
                <img src="img/site-identity.png" alt="site identity" />
            </a>

            <nav class="site-nav">
                {% if current_user.is_authenticated and current_user not in run.runners %}
                <a href="{{ request.url }}&rsvp=true" class="btn btn-success btn-outlined">RSVP</a>
                {% elif current_user.is_authenticated and current_user in run.runners %}
                <a href="{{ request.url }}&rsvp=false" class="btn btn-danger btn-outlined">Cancel RSVP</a>
                {% else %}
                <a href="{{ url_for("login", next=request.url) }}" class="btn btn-outlined">Login to RSVP</a>
                {% endif %}

            </nav>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="content-box">
    <!-- Hero Section -->
    <section class="section section-hero" style="margin-bottom: 0px !important;">
        <div class="hero-box" style="background-image: url({{ run.image_url }}) !important; ">
            <div class="container" style="background-color: rgba(128,128,128,0.5) !important;  border-radius: 5% !important; padding: 5% 5%">
                <div class="hero-text align-center">
                    <h2 style="color: white;">Name: <span style="font-style: italic">{{ run.run_name }}</span></h2>
                    <p class="abrun">Location: <span style="font-style: italic">{{ run.location }}</span></p>
                    <p class="abrun">Time: <span style="font-style: italic">{{ run.time }}</span></p>
                    <ul style="color: #3b5998">
                        Runners:
                        {% for runner in run.runners %}
                            <li>
                                <span style="color: #006dcc;">{{ runner.first_name }}</span> <span style="color: whitesmoke;">{{ runner.last_name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>


{% include "footer.html"%}

<!-- Scripts -->
<script src="js/jquery.js"></script>
<script src="js/functions.js"></script>
</body>
</html>
