
<!DOCTYPE html>
<html>
<head>
    <title>The Running Club</title>
    <meta charset="utf-8">
    <meta name="description" content="The Running Club" />
    <meta name="author" content="The Running Club" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/screen.css" rel="stylesheet" />
</head>
<body style="padding-top: 40px;;background-color: #eee;">
<!-- Header -->
<header class="main-header" style="background-color: #3b5998">
    <div class="container" >
        <div class="header-content">
            <a href="{{ url_for('home') }}">
                <img src="img/site-identity.png" alt="site identity" />
            </a>
        </div>
    </div>
</header>


<!-- Main Content -->
<div class="container" style="padding-top: 105px; padding-bottom: 10%">
    <form class="form-signin" style="max-width: 100% !important;" method="post" action="{{ request.url }}">
        <h2 class="form-signin-heading">Please Sign Up</h2>
        <div>
            <div style="width: 50%;float:left">
             <label for="firstName" class="sr-only">First Name</label>
            <input type="input" name="firstName" id="firstName" class="form-control" placeholder="First Name" required="" autofocus="">
            </div>
            <div style="width: 50%;float: right;">
                <label for="lastName" class="sr-only">Last Name</label>
            <input type="input" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required="">
        </div>
            </div>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" {% if request.args.get("destination") %} value="{{ request.args.get('destination') }}" {% endif %} required="">
        <br>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <input type="password" name="cpassword" id="confirmPassword" class="form-control" placeholder="Confirm Password" required="">
        {% if request.args.get("problem") %}
        <div style="text-align:center;color: red;">Oh No! There was a problem: {{ request.args.get("problem") }}</div>
    {% endif %}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div> <!-- /container -->


{% include "footer.html"%}

<!-- Scripts -->
<script src="js/jquery.js"></script>
<script src="js/functions.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
